body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f3e5f5;
  color: #4a148c;
}

.MuiAppBar-root {
  background-color: #6a1b9a;
}

.MuiContainer-root {
  padding-top: 20px;
  padding-bottom: 20px;
}

.MuiPaper-root {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.MuiTypography-root {
  color: #4a148c;
}

.MuiButton-containedPrimary {
  background-color: #ab47bc;
}

.MuiButton-containedPrimary:hover {
  background-color: #8e24aa;
}